version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - DB_TYPE=sqlite
      - DB_PATH=/app/data/data.db
    volumes:
      - ./data:/app/data
      - ./static:/root/static
    restart: unless-stopped