package header

templ Logo() {
	<a href="/" class="flex items-center">
		<div class="bg-gray-800 text-white font-bold text-xl w-10 h-10 rounded-full flex items-center justify-center mr-3">
			Л
		</div>
		<span class="text-xl font-bold text-gray-800">Логотип</span>
	</a>
}